@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --text-display3xl: 56px;
  --leading-display3xl: 68px;
  --text-display2xl: 40px;
  --leading-display2xl: 56px;
  --text-displayxl: 36px;
  --leading-displayxl: 44px;
  --text-displaymd: 32px;
  --leading-displaymd: 42px;
  --text-displaysm: 28px;
  --leading-displaysm: 38px;
  --text-displayxs: 24px;
  --leading-displayxs: 36px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;
  --spacing-6xl: 48px;
  --spacing-7xl: 64px;
  --spacing-8xl: 80px;
  --spacing-9xl: 96px;
  --spacing-10xl: 128px;
  --spacing-11xl: 140px;
  --color-neutral-25: #fdfdfd;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;
  --color-primary-100: #c12116;
  --color-accent-red: #d9206e;
  --color-accent-green: #079455;
  --color-accent-yellow: #fdb022;
  --color-base-white: #ffffff --color-base-black: #000000;
}

@mbody {
  background: var(--background);
  color: var(--foreground);
  font-family: Nunito;
}
